!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="description" content="")
    %meta(name="author" content="")

    %title LiveSentence
    %link(rel="stylesheet" href='#{static_path(@conn, "/css/app.css")}')
    %script(src='#{static_path(@conn, "/js/app.js")}')

  %body
    %noscript
      %div{:style => "text-align: center; font-family: Helvetica,Verdana,sans; padding: 1em; position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%);"}
        %h1 JavaScript required
        %p
          To continue using this website please
          %br
          enable JavaScript in your browser.
          %br
          %a{href: "http://enable-javascript.com", target: "_blank"} (Learn how)
        %p Then reload the page.
    %script(type="text/javascript")
      <!--
      var app = Elm.Main.fullscreen();

      app.ports.setfocus.subscribe(function(id){
        setTimeout(function(){
          document.getElementById(id).focus();
        }, 300);
      });
      //-->
